.message .tooltip-inner {
    background-color: #dc3545;
    font-size: 1.2rem;
}

.message .arrow::before {
    border-top-color: #dc3545;
}

.dim {
    overflow: auto;
}

.verde{
    color: green;
}

.popover-header{color: black;
}

.popover-body{
    color: gray;
}

.popover{max-width: 80%;}

.popover-body {
    padding: 0px 0px;
}